<robot name="simple_cylinder">
  <link name="my_cylinder">
    <inertial>
      <mass value="1.25" />
      <!-- center of mass (com) is defined w.r.t. link local coordinate system -->
      <origin xyz="0 0 0" /> 
      <inertia  ixx="1.0" ixy="0.0"  ixz="0.0"  iyy="1.0"  iyz="0.0"  izz="1.0" />
    </inertial>
    <visual>
      <!-- visual origin is defined w.r.t. link local coordinate system -->
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <cylinder length="0.2" radius="0.125" />
      </geometry>
    </visual>
    <collision>
      <!-- collision origin is defined w.r.t. link local coordinate system -->
      <origin xyz="0 0 0" rpy="0 0 0 " />
      <geometry>
        <cylinder length="0.2" radius="0.125" />
      </geometry>
      <friction>
        <ode>
          <mu>0.6</mu>
          <mu2>0.6</mu2>
        </ode>
      </friction>
    </collision>
  </link>
  <gazebo reference="my_cylinder">
    <material>Gazebo/Blue</material>
    <turnGravityOff>false</turnGravityOff>
  </gazebo>
</robot>
